In [15]:
import pandas as pd

In [16]:
deliveries=pd.read_csv('../data/parsed/deliveries.csv',low_memory=False)
events=pd.read_csv('../data/parsed/events.csv',low_memory=False)

In [20]:
deliveries.dtypes

id                        object
route_id                  object
state                      int64
_status                   object
return_id                 object
                          ...
delivery_service_time    float64
vehicle_id               float64
partial                  float64
status_update_dt          object
last_table_update         object
Length: 76, dtype: object

In [36]:
events.head()

,id,name,author,params,type,level,state,delivery_state
0,277801397,Delivery t-amabrt-1743660 changed to status 1:...,NaN,"{'companyId':6082,'pickupDate':'2022-05-01 21:...",DELIVERY_STATUS_UPDATE,low,closed,1.0
1,277941703,Tag added,"{'type':'operator','id':12068,'name':'Otto de ...","{'id':196226,'name':'RT - 01.05.22','color':'#...",TAG,high,closed,1.0
2,277964506,Delivery t-amabrt-1743660 changed to status 1:...,"{'type':'operator','id':12060,'name':'Dayse Re...",{'companyId':6082},ADDRESS-EDITED,low,closed,1.0
3,277977064,FIX TIME,"{'type':'operator','id':12060,'name':'Dayse Re...",{'companyId':6082},FIX_TIME,low,closed,1.0
4,277977999,Delivery t-amabrt-1743660 changed to status 1:...,"{'type':'operator','id':12060,'name':'Dayse Re...",{'companyId':6082},DELIVERY_RESCHEDULED,low,closed,1.0

In [35]:
events.loc[events["delivery_id"] == "t-amabrt-1744619"]

KeyError: 'delivery_id'

In [17]:
deliveries.company_type.value_counts()

1.0    94269
2.0       16
3.0        4
Name: company_type, dtype: int64

In [34]:
deliveries.loc[:,["delivery_dt","max_delivery_dt","delivery_arrival_dt","delivery_effective_dt"]].head(10)

,delivery_dt,max_delivery_dt,delivery_arrival_dt,delivery_effective_dt
0,2022-05-02 14:41:51,2022-05-02 15:41:51,2022-05-02 15:49:13,2022-05-02 15:52:13
1,2022-05-02 21:49:38,2022-05-02 22:49:38,2022-05-02 17:14:51,2022-05-02 17:16:29
2,2022-05-03 06:05:17,2022-05-03 07:05:17,2022-05-02 19:13:07,2022-05-02 19:14:19
3,2022-05-03 07:14:19,2022-05-03 08:14:19,2022-05-02 20:52:14,2022-05-02 20:56:31
4,2022-05-03 06:43:08,2022-05-03 07:43:08,2022-05-02 17:21:59,2022-05-02 17:27:24
5,2022-05-02 20:52:37,2022-05-02 21:52:37,2022-05-03 10:33:40,2022-05-03 10:35:35
6,2022-05-03 07:00:16,2022-05-03 08:00:16,2022-05-02 18:49:36,2022-05-02 18:52:43
7,2022-05-03 00:26:34,2022-05-03 01:26:34,2022-05-02 17:26:23,2022-05-02 17:30:26
8,2022-05-03 04:08:38,2022-05-03 05:08:38,2022-05-02 23:27:54,2022-05-02 23:30:56
9,2022-05-02 16:28:10,2022-05-02 17:28:10,2022-05-02 14:53:14,2022-05-02 14:55:42

### Eliminar las SAS y Shippify

In [31]:
deliveries.max_pickup_dt.count()

94290

In [ ]:
columns_unusec=[
    'formula_id','dispatcher','first_name','last_name','mobile','company_api_id','company_plan_typel','city_id','city_name','city_name','city_lang',
    'country_code', 'country_name','currency_code','network_id','network_name','network_type','network_mode','network_company','is_available_to_shippers',
    'company_parent_id','job_id','block','due_dt','pickup_due_dt','pickup_service_time','delivery_service_time','vehicle_id','partial','company_name'
    ]

In [38]:
columns_use=['_status',
 'cost',
 'creation_dt',
 'deliveryLat',
 'deliveryLng',
 'delivery_arrival_dt',
 'delivery_dt',
 'delivery_effective_dt',
 'distance',
 'distance_charged',
 'distance_route',
 'final_price',
 'id',
 'items',
 'max_delivery_dt',
 'max_pickup_dt',
 'pickupLat',
 'pickupLng',
 'pickup_arrival_dt',
 'pickup_dt',
 'pickup_effective_dt',
 'route_id',
 'state',
 'total_package_price',
 'total_size',
 'vehicle_capacity']