In [20]:
import pandas as pd
import geopandas as gpd

In [21]:
df_deliveries=pd.read_csv('../../data/data2/processed/steps.csv')

In [22]:
df_deliveries.columns

Index(['route_id', 'delivery_id', 'action', 'step_order',
       'distance_from_previous', 'total_size', 'cost', 'final_price',
       'shipper_id', 'effective_dt', 'lat', 'lng', 'shipper_capacity',
       'shipper_deliveries_completed', 'route_deliveries_count',
       'time_from_previous'],
      dtype='object')

In [23]:
gdf_deliveries = gpd.GeoDataFrame(df_deliveries, geometry=gpd.points_from_xy(df_deliveries["lng"], df_deliveries["lat"]))

In [24]:
gdfBH = gpd.read_file('../../data/BH_regions.geojson', driver='GeoJSON')

In [25]:
dfgeo = gpd.sjoin(gdf_deliveries, gdfBH, how='inner', op='within')

/home/caloja/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3337: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):
/tmp/ipykernel_80780/204845415.py:1: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: None
Right CRS: EPSG:4326

  dfgeo = gpd.sjoin(gdf_deliveries, gdfBH, how='inner', op='within')

In [31]:
columns_to_take=['route_id', 'delivery_id', 'action', 'step_order',
       'distance_from_previous', 'total_size', 'cost', 'final_price',
       'shipper_id', 'effective_dt', 'lat', 'lng', 'shipper_capacity',
       'shipper_deliveries_completed', 'route_deliveries_count',
       'time_from_previous','CODIGO','NOME']

In [34]:
dfgeo[columns_to_take].to_csv('../../data/data2/processed/steps_with_regions.csv',index=False)

In [33]:
dfgeo[columns_to_take]

,route_id,delivery_id,action,step_order,distance_from_previous,total_size,cost,final_price,shipper_id,effective_dt,lat,lng,shipper_capacity,shipper_deliveries_completed,route_deliveries_count,time_from_previous,CODIGO,NOME
0,r-shiinc-1247126,t-petz-3171208,pickup,1,0.0,3,10.557,11.98,245014.0,2022-05-01 16:49:22,-19.9524,-43.9388,3,343,7.0,0.0,19,CENTRO-SUL
1,r-shiinc-1247126,t-petz-3171121,pickup,2,0.0,3,9.752,11.30,245014.0,2022-05-01 16:49:22,-19.9524,-43.9388,3,343,7.0,0.0,19,CENTRO-SUL
2,r-shiinc-1247126,t-petz-3171210,pickup,3,0.0,4,9.752,11.30,245014.0,2022-05-01 16:49:22,-19.9524,-43.9388,3,343,7.0,0.0,19,CENTRO-SUL
3,r-shiinc-1247126,t-petz-3171223,pickup,4,0.0,1,13.846,15.72,245014.0,2022-05-01 16:49:22,-19.9524,-43.9388,3,343,7.0,0.0,19,CENTRO-SUL
4,r-shiinc-1247126,t-petz-3171209,pickup,5,0.0,5,12.351,14.02,245014.0,2022-05-01 16:49:22,-19.9524,-43.9388,3,343,7.0,0.0,19,CENTRO-SUL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45462,r-shiinc-1273471,t-amabrz-1567316,delivery,120,0.0,2,3.380,5.00,299564.0,2022-05-17 16:29:15,-19.8473,-43.9415,3,5153,62.0,0.0,23,NORTE
45463,r-shiinc-1273471,t-amabrt-1792279,delivery,121,0.6,2,3.380,4.80,299564.0,2022-05-17 16:32:46,-19.8471,-43.9448,3,5153,62.0,211.0,23,NORTE
45464,r-shiinc-1273471,t-amabrt-1792059,delivery,122,0.2,2,3.380,4.80,299564.0,2022-05-17 16:35:27,-19.8460,-43.9437,3,5153,62.0,161.0,23,NORTE
45465,r-shiinc-1273471,t-amabrt-1793458,delivery,123,0.0,2,3.380,4.80,299564.0,2022-05-17 16:35:27,-19.8460,-43.9437,3,5153,62.0,0.0,23,NORTE
45466,r-shiinc-1273471,t-amaste-1281641,delivery,124,1.1,2,3.380,4.87,299564.0,2022-05-17 16:40:14,-19.8521,-43.9379,3,5153,62.0,287.0,23,NORTE

In [16]:
gdfgeo = dfgeo.groupby('NOME')["delivery_id"].count().reset_index()

In [18]:
gdfgeo = gdfBH.merge(gdfgeo, on='NOME')

In [19]:
gdfgeo.head()

,ID,CODIGO,SIGLA,NOME,AREA_KM2,PERIMETR_M,geometry,delivery_id
0,6,23,NT,NORTE,32.555,34762.823,"POLYGON ((-43.94346 -19.79781, -43.94347 -19.7...",454
1,4,21,NE,NORDESTE,39.321,40951.45,"POLYGON ((-43.87674 -19.81314, -43.87689 -19.8...",1404
2,3,20,LE,LESTE,27.885,31621.064,"POLYGON ((-43.90983 -19.87636, -43.90984 -19.8...",1946
3,2,19,CS,CENTRO-SUL,31.741,29872.501,"POLYGON ((-43.89457 -19.94749, -43.89458 -19.9...",5903
4,9,26,VN,VENDA NOVA,29.172,28995.848,"POLYGON ((-44.01057 -19.82590, -44.01057 -19.8...",609