In [4]:
import pandas as pd

In [5]:
df_deliveries=pd.read_csv('../../data/data2/deliveries.csv')

In [6]:
df_deliveries["items"].to_list()[0]

'[{"id":"SFYBR004808361","qty":1,"name":"CAIXA","price":49.89,"weight":0.75,"size":2,"fragile":false,"pickedUp":true,"delivered":true,"sid":"t-amabrt-1743677_1"}]'

,id,route_id,state,_status,items,total_size,pickupLat,pickupLng,deliveryLat,deliveryLng,...,cost,final_price,distance,shipper_id,distance_charged,distance_route,total_package_price,vehicle_capacity,pickup_step_order,delivery_step_order
0,t-amabrt-1743677,r-shiinc-1248030,7,completed,"[{""id"":""SFYBR004808361"",""qty"":1,""name"":""CAIXA""...",2,-19.9618,-44.0285,-19.9327,-43.9440,...,2.99,4.95,11.1,110668.0,0.2,0.2,49.89,2,21,131
1,t-amabrt-1743713,r-shiinc-1248030,7,completed,"[{""id"":""SFYBR004823678"",""qty"":1,""name"":""CAIXA""...",2,-19.9618,-44.0285,-19.9372,-43.9388,...,2.99,4.87,11.9,110668.0,0.2,0.2,16.00,2,33,86
2,t-amabrt-1743749,r-shiinc-1248000,7,completed,"[{""id"":""SFYBR004818385"",""qty"":1,""name"":""CAIXA""...",2,-19.9618,-44.0285,-19.4675,-44.2061,...,5.57,5.94,74.5,174894.0,0.1,0.1,31.58,2,48,76
3,t-amabrt-1743780,r-shiinc-1248349,7,completed,"[{""id"":""SFYBR004822031"",""qty"":1,""name"":""CAIXA""...",2,-19.9618,-44.0285,-19.8953,-43.8016,...,2.99,5.84,34.6,354350.0,0.3,0.3,19.99,2,49,96
4,t-amabrt-1743784,r-shiinc-1248030,7,completed,"[{""id"":""SFYBR004825735"",""qty"":1,""name"":""CAIXA""...",2,-19.9618,-44.0285,-19.9338,-43.9436,...,2.99,4.87,11.1,110668.0,0.5,0.5,24.76,2,20,122

In [ ]:
steps.